.resultsContainer {
    margin: 15px;
}
.resultsContainer h2 {
    margin: -12px 0px 2px;
}
.resultsContainer h2 a {
    text-decoration: none;
    color: black;
}
.resultsContainer h2 a:hover {
    text-decoration: underline;
    color: blue;
}
