.inputContainer {
    background-color: black;
    padding-bottom: 25px;
}

.inputContainer .searchInput {
    display: flex;
    margin: 55px 50px 30px;
    width: calc(100% - 85px);
    height: 60px;
    font-size: 20px;
}
.inputContainer .searchInput input {
    padding: 0px 30px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: 2px solid white
}
.inputContainer .searchInput button {
    margin: 0px;
    padding: 10px 20px 5px;
    height: 64px;
    font-size: 30px;
    background-color: white;
    border: none;
}

.inputContainer h3 {
    margin-left: 50px;
    margin-bottom: -10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.inputContainer .filterContainer {
    margin-left: 35px;
    display: flex;
    width: calc(100% - 120px);
}
