.industriesFunctionsContainer {
    margin-top: 20px;
    padding: 0px 75px 70px 85px;
    width: 50%;
    float: left;
    text-align: left;
}
.industriesFunctionsContainer h5 {
    font-size: 27px;
    font-weight: 500;
}

.industriesFunctionsContainer .indFuncFlexContainer {
    display: flex;
    justify-content: space-between;
    margin: -70px 0px;
}

.industriesFunctionsContainer .indFuncFlexContainer h6 {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-top: 48px;
}
.industriesFunctionsContainer .indFuncFlexContainer h6:first-child {
    font-size: 18px;
    font-weight: 500;
    color: slategray;
    margin-top: 44px;
}
.industriesFunctionsContainer .indFuncFlexContainer h6 a:hover {
    text-decoration: none;
    border-bottom: 2px solid blue;
}
