.jobDetailMainContainer {
    margin: 40px auto -8px;
    width: fit-content;
    text-align: center;
}
.jobDetailMainContainer h2 {
    margin-top: 0px;
    margin-bottom: 60px;
    font-size: 60px;
}
.jobDetailMainContainer .citiesContainer {
    color: gray;
}
