.inputTopContainer {
    background-color: black;
    padding-bottom: 25px;
}

.inputTopContainer .searchInput {
    margin: 55px 50px 30px;
    width: calc(100% - 120px);
    height: 60px;
    font-size: 20px;
}

.inputTopContainer h3 {
    margin-left: 50px;
    margin-bottom: 7px;
    color: white;
}

.inputTopContainer .filterContainer {
    margin-left: 35px;
    display: flex;
    width: calc(100% - 120px);
}
.inputTopContainer .filterContainer .filterInput {
    margin: 0px 15px;
    text-align: left;
    padding-right: 23px;
    white-space: nowrap;
    width: 203px;
}
.inputTopContainer .filterContainer .filterInput input {
    text-align: left;
    padding-right: 10px;
    height: 35px;
    width: 160px;
    font-size: 17px;
}
.inputTopContainer .filterContainer .filterInput button {
    height: 41px;
    padding: 10px 15px;
    font-size: 17px;
    background-color: darkgray;
}
