.citiesContainer {
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;

}

.citiesContainer h5 {
    margin: 5px 15px 5px 0px;
    font-size: 17px;
}

.citiesContainer h5 a {
    text-decoration: none;
    border-bottom: 2px solid blue;
    cursor: pointer;
}